html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(217, 227, 216);
}

/* 로그인, 회원가입 페이지
 */
.login-container,
.signup-container {
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    margin-top: 70px;

}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 220px;
    margin-top: 20px;
    margin-bottom: 25px;


}

#loginForm {
    margin: auto;
    text-align: center;

}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group input {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    /* 가운데 정렬을 위해 추가 */
    display: block;
    /* 블록 요소로 변경하여 너비 지정이 가능하도록 함 */
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
}

.btn-login,
.btn-signup,
.btn-check {
    width: 90%;
    padding: 10px;
    background-color: rgb(109, 195, 119);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    /* 가운데 정렬을 위해 추가 */
    display: block;
    /* 블록 요소로 변경하여 너비 지정이 가능하도록 함 */
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 2px;
    font-size: 16px;

}

.btn-login:hover,
.btn-signup:hover,
.btn-check:hover {
    background-color: #165d35;
}

/* 메인 스타일 */
/* 피드 */
.feed {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    height: 100vh;
    padding: 5px;
    background-color: #ffffff;
}

.post {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.post-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.post-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .username {
    font-weight: bold;
}

.post-image {
    max-width: 100%;
}

/* 헤더 */
#full_container {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(217, 227, 216)
}

#header_container {
    background-color: rgb(109, 195, 119);
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: auto;
    flex-wrap: nowrap;
}

#contant_container {
    display: grid;
    grid-template-columns: 400px 700px 500px;
    /* 사이드바, 피드, 채팅바 조절 그리드 */
}


.mainLogo img {
    height: 70px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* 사이드바 */
.sidebar {
    height: 100vh;
    padding: 5px;
    background-color: #ffffff;
    justify-content: left;
    margin: 10px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #555;
}

/* 검색 */
.search-box {
    height: 30px;
    width: 300px;
    background: #ffffff;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid #000000;
    position: relative;
    width: 90%;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #555;
    font-size: 16px;
    width: 200px;
}

.search-btn {
    color: #fff;
    float: right;
    width: 40px;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-box input {
    width: 100%;
    font-size: 14px;
}


.search-box img {
    position: absolute;
    width: 40px;

}